@import './lib';


.form__input {
    border: 1px solid white;
    width: 100%;
    background: none;
    padding: 1rem 1.42rem;
    border-radius: 0.28rem;
    outline: none;
    font-family: $font-montserrat-regular;
    font-size: 1.14rem;
}

.form__textarea {
    @extend .form__input;
    resize: none;
    min-height: 10rem;
}

.form__field {
    margin-bottom: 2.78rem;
}

.form__dualFormField {
    @include flexbox(space-between, center);
    width: 100%;
    gap: 2.28rem;
    margin-bottom: 2.07rem;

    &>div {
        flex: .5;
    }
}

.form__labelWrapper {
    margin-bottom: 0.81rem;
}

.form__inputWithIcon {
    @include flexbox(space-between, center);
    @extend .form__input;
    padding: 0 .7rem 0 0;
    cursor: pointer;
    position: relative;

    input {
        border: none;
        height: 100%;
        cursor: pointer;
    }

}

.form__dropdownWrapper {
    position: absolute;
    min-height: fit-content;
    width: 100%;
    top: calc(100% + 1rem);
    background: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: .5rem;
    display: none;
    @include fadeBounceInAnimation;
    max-height: 15rem;
    overflow-y: auto;

    /* Style the scrollbar track */
    &::-webkit-scrollbar {
        width: 0;
        /* Width of the scrollbar */
    }

    /* Style the scrollbar thumb (the draggable part) */
    &::-webkit-scrollbar-thumb {
        background-color: #888;
        /* Color of the thumb */
        border-radius: 5px;
        /* Rounded corners for the thumb */
    }

    /* Style the scrollbar track when the mouse is over it */
    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

}

.form__dropdownItem {
    color: black;
    padding: .5rem 1.5rem;
    border-bottom: 1px solid rgb(216, 216, 216);
    font-size: .85rem;
}

.form__inputWithIcon:focus-within {
    .form__dropdownWrapper {
        display: block;
    }
}