@import './lib';

.home__header {
    padding: 4.28rem 9.14rem 2.142rem 9.14rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    @include flexbox(space-between, center);

    @media screen and (max-width:1000px) {
        padding: 4.28rem 1rem 2.142rem 1rem;
    }
}


.home__logo {
    font-size: 2.57rem;
    font-family: $font-clash-display-bold;

    a,
    span {
        font-family: inherit;
    }

    span {
        color: $primary-color
    }
}

.home__navigation_wrapper {
    @include flexbox(flex-end, center);
    gap: 8.64rem;
}

.home__navigation {
    @include flexbox(space-between, center);
    gap: 4rem;
    list-style: none;

    a {
        text-decoration: none;
        color: white;
    }
}

.home__navigation_active {
    background: linear-gradient(90deg, #903AFF 3.08%, #FF26B9 93.85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home__main_section {
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    overflow-x: hidden;
}

.home__main_section[data-index=one] {
    padding: 2.2rem 0 0 9.14rem;

    @media screen and (max-width:1000px) {
        padding: 2.2rem 0 0 1rem;
    }
}

.home__main__overviewCtaSum {
    font-size: 2.57rem;
    font-family: $font-montserrat-bold;

    @media screen and (max-width:1000px) {
        font-size: 1.14rem;
    }
}

.home__main__overviewCtaSumWrapper {
    @include flexbox(flex-end, flex-end);
    flex-direction: column;
    padding-right: 3.92rem;

    @media screen and (max-width:1000px) {
        padding: 0;
        justify-content: center;
        width: 100%;

        svg {
            width: 9rem;
            height: auto;
        }
    }
}

.home__image_boy {
    --width: 59.14rem;
    --height: 51.78rem;
    width: var(--width);
    height: var(--height);

    @media screen and (max-width:1000px) {
        width: 100%;
        height: auto;
    }
}

.home__main__overview {
    @include flexbox(center, flex-start);
    margin-top: 1.92rem;

    @media screen and (max-width:1000px) {
        flex-direction: column;
    }
}

.home__main__overviewCta {
    font-size: 5.71rem;
    font-family: $font-clash-display-bold;
    line-height: normal;

    @media screen and (max-width:1000px) {
        font-size: 2.28rem;
        text-align: center;
    }
}

.home__main__overviewDesc {
    font-family: $font-montserrat-regular;
    font-size: 1.42rem;
    color: white;
    line-height: 166%;

    @media screen and (max-width:1000px) {
        font-size: 0.92rem;
        text-align: center;
    }
}

.home__main__overviewButtonWrapper {
    margin-top: 2.12rem;

    @media screen and (max-width:1000px) {
        @include flexbox(center, center);
    }
}

.home__main__overviewInfo {
    min-width: fit-content;
    margin-top: 6rem;

    @media screen and (max-width:1000px) {
        margin: 1.5rem auto 1rem auto;
    }
}

.home__main__overviewTimer {
    margin-top: 5.5rem;
    @include flexbox(flex-start, center);
    gap: 2.5rem;
    line-height: 6.08rem;

    &>div span:first-child {
        font-size: 4.57rem;
        font-family: $font-unica-one-regular;
    }

    &>div span:last-child {
        font-size: 1rem;
    }

    @media screen and (max-width:1000px) {
        @include flexbox(center, flex-start);
        gap: 1rem;
    }
}

.home__main__overviewItem {
    @extend .home__main_section;
    @include flexbox(center, center);
    padding: 4.28rem 9.14rem 2.142rem 9.14rem;

    @media screen and (max-width:1000px) {
        flex-direction: column;
        padding: 4.28rem 3.3rem 2.142rem 3.3rem;
    }
}

.home__main__overviewItem[data-reversed] {
    flex-direction: row-reverse;

    @media screen and (max-width:1000px) {
        flex-direction: column;
    }
}


.home__main__overviewItem_metaData_header {
    font-size: 2.28rem;
    font-family: $font-clash-display-bold;
    line-height: 133%;
    margin-bottom: 1.14rem;

    div {
        font-family: inherit;
    }
}

.home__main_overviewItem_metaData_description {
    font-size: 1rem;
    line-height: 1.96rem;
}

.home__main_overviewItem_metaData_description[data-bold] {
    font-family: $font-montserrat-bold;
}

.home__main__overviewItem_ilstr {

    @media screen and (max-width:1000px) {

        img {
            width: 100% !important;
            height: auto !important;
        }
    }
}