@import './lib';

.timeline__wrapper {
    padding: 5.14rem 0 17rem 0;
    min-height: fit-content;

    @media screen and (max-width:1100px) {
        padding: 4rem 0 5rem 1rem;
    }
}

.timeline__header {
    @include flexbox(center, center);
    flex-direction: column;
}

.timeline__desc {
    text-align: center;
    margin-top: 0.85rem;
    line-height: 1.72rem;

    @media screen and (max-width:1100px) {
        margin-top: 0.85rem;
    }
}

.timeline__header_cta {
    font-size: 2.28rem;
    font-family: $font-clash-display-bold;

    @media screen and (max-width:1100px) {
        font-size: 1.42rem;
    }
}

.timeline__timelines {
    margin-top: 6.5rem;
    flex-direction: column;

    @media screen and (max-width:1100px) {
        margin-top: 2rem;
    }
}

.timeline__timeline {

    border-right: 4px solid $primary-color;

    min-height: 8rem;
    width: 50%;
    margin-top: 5.56rem;
    position: relative;


    &::before {
        content: attr(data-index);
        position: absolute;
        right: -1.89rem;
        bottom: -4.56rem;
        width: 3.78rem;
        height: 3.78rem;
        border-radius: 50%;
        background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
        @include flexbox(center, center);
        font-size: 1.71rem;
        font-family: $font-montserrat-bold;

    }


    @media screen and (max-width:1100px) {
        &::before {
            right: unset;
            left: -0.69rem;
            width: 1.38rem;
            height: 1.38rem;
            font-size: 0.85rem;
            bottom: 0;
        }

        &::after {
            content: '';
            width: 4px;
            height: .5rem;
            background: $tertiary-color;
            bottom: 1.34rem;
            position: absolute;
            left: -4px;
        }

        border-right: unset;
        border-left: 4px solid $primary-color;
        padding-left: 1rem;

        margin-top: 3rem;
        width: 100%;

        min-height: unset;
        height: fit-content;
    }


}

.timeline__timeline_title {
    font-size: 1.71rem;
    font-family: $font-montserrat-bold;
    color: $primary-color;
    max-width: 40rem;

    @media screen and (max-width:1100px) {
        font-size: 0.85rem;
    }
}

.timeline__timeline_desc {
    font-size: 1rem;
    max-width: 40rem;
    line-height: 1.93rem;
    margin-top: 0.85rem;
    font-size: 1.142rem;

    @media screen and (max-width:1100px) {
        font-size: 0.85rem;
    }

}

.timeline__timeline_date {
    font-size: 1.71rem;
    color: $primary-color;
    font-family: $font-montserrat-bold;

    @media screen and (max-width:1100px) {
        font-size: 0.85rem;
    }
}

@media screen and (min-width:1100px) {
    .timeline__timeline_date {
        position: absolute;
        bottom: -4rem;
    }

    .timeline__timeline_metaInfoWrapper {
        position: absolute;
        bottom: -100%;
        text-align: right;

    }


    .timeline__timeline[data-reversed=true] {

        .timeline__timeline_date {
            right: 7.5rem;

        }

        .timeline__timeline_metaInfoWrapper {
            right: -100%;
            text-align: left;
            width: calc(100% - 7.5rem);
        }
    }

    .timeline__timeline[data-reversed=false] {
        .timeline__timeline_date {
            right: -100%;
            text-align: right;
            width: calc(100% - 7.5rem);
            text-align: left;
        }

        .timeline__timeline_metaInfoWrapper {
            right: 7.5rem;
            text-align: right;
            top: 100%;
        }
    }
}